@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    display: flex;
    background-color: #fff;
    width: 51.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.18);
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

.course-text {
    text-align: justify;
    line-height: 1.65rem;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.25rem;
}

.logo-dsm {
  width: 22.3125rem; /* Define largura fixa do logo DSM. */
  height: 7.4375rem; /* Define altura fixa do logo DSM. */
}

.logo-fatec {
  width: 10.125rem; /* Define largura fixa do logo Fatec. */
  height: 3.875rem; /* Define altura fixa do logo Fatec. */
}

.logo-cps {
  width: 12rem; /* Define largura fixa do logo CPS. */
  height: 8rem; /* Define altura fixa do logo CPS. */
}

.actions {
    display: flex;
    gap: 0.8rem;
}

.btn-link {
    background-color: #1f6feb;
    padding: 0.7rem 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem; 
    font-size: 1rem;
    font-weight: 500;
    border: 0;
}

.btn-link:hover {
    background-color: #195dca;
}

.btn-secondary {
    background-color: #4b5563;
}

.btn-secondary:hover {
    background-color: #374151;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.auth-form label {
    font-weight: 500;
}

.auth-form input {
    padding: 0.7rem 0.8rem;
    border-radius: 0.5rem;
    border: 0.625rem solid #cbd5e1;
    font: inherit;
}

.link {
    color: #1f6feb;
    text-decoration: none;
    font-weight: 700;
}
